* {
    scrollbar-width: auto;
    scrollbar-color: #9e0000 #5c5958;
}
body .inner-body {
    display: block;
    width: 100vw;
    background-color: #f0f0f0;
    z-index: 1;
    position: relative;
}
.top-header {
    background: #d91015;
    color: #fff;
    padding-top: .5rem;
    padding-bottom: .5rem;
    z-index: 3;
    position: fixed;
    top: 0;
}
.top-header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.top-header ul li {
    display: inline-block;
    margin-right: 1.5rem;
}
.top-header a, .top-header span {
    color: #fff;
}
.fa-map-marker:before {
    content: "\f3c5";
}
.fa-phone:before {
    content: "\f095";
}
.fa-envelope:before {
    content: "\f0e0";
}
body {
    font-family: TT Commons, sans-serif;
    line-height: 23px;
    color: #221e1c;
    overflow-x: hidden !important;
    transition: opacity .4s linear;
    background: #f0f0f0;
}
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

